<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>MINI ERP</title>
    <link rel="stylesheet" href="static/css/estilo.css">
    <script src="static/js/tema.js"></script>
</head>
<body>
    <header>
        <h1>Estoque e Compras</h1>
    </header>
    <div class="inicio-container">
        <a href="/inventario" class="btn">Estoque</a>
        <a href="/compras" class="btn">Compras</a>
        <a href="/fornecedores" class="btn">Fornecedores</a>
        <a href="/inicio" class="btn">Voltar</a>
    </div>
    <footer>
        Sistema de Gestão &copy; 2024
    </footer>
</body>
</html>
