<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>MINI ERP</title>
    <link rel="stylesheet" href="static/css/estilo.css">
    <script src="static/js/tema.js"></script>
</head>
<body>
    <header>
        <h1>Sistema de Gestão</h1>
    </header>

    <div class="inicio-container">
        <a href="/funcionarios" class="btn">Funcionarios</a>
        <a href="/folha_pgmt" class="btn">Folha de pagamento</a>
        <a href="/inicio" class="btn">Voltar</a>
    </div>
    
    <footer>
        Sistema de Gestão &copy; 2024
    </footer>
</body>
</html>
